<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header navbar-left">
      <a [routerLink]="['/']" class="navbar-brand">YouFly</a>
    </div>
    <div *ngIf="this.isLoggedIn && !this.isAdmin">
      <ul class="nav navbar-nav navbar-right" >
        <li  class=""><a [routerLink]="['/']">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/adminAirport']">Airport</a></li>
            <li><a [routerLink]="['/adminFlight']">Flight</a></li>
          </ul>
        </li>
        <li  class=""><a [routerLink]="['/Airport']">Airport</a></li>
        <li  class=""><a [routerLink]="['/Flight']">Flight</a></li>
        <li class="" ><a [routerLink]="['/']" (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div *ngIf="this.isLoggedIn && this.isAdmin">
      <ul class="nav navbar-nav navbar-right" >
        <li  class=""><a [routerLink]="['/']">Home</a></li>
        <li  class=""><a [routerLink]="['/Airport']">Airport</a></li>
        <li  class=""><a [routerLink]="['/Flight']">Flight</a></li>
        <li class="" ><a [routerLink]="['/']" (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div *ngIf="!this.isLoggedIn">
      <ul class="nav navbar-nav navbar-right">
        <li  class=""><a [routerLink]="['/']">Home</a></li>
        <li  class=""><a [routerLink]="['/Flight']">Flight</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Login<span class="caret"></span></a>
          <div class="dropdown-menu">
            <form (ngSubmit)="loginForSite(loginForm)" #loginForm="ngForm">
              <div class="form-group">
                <label for="loginUsername">Username: </label>
                <input
                  type="text"
                  id="loginUsername"
                  name="loginUsername"
                  ngModel
                  class="form-control" required>
              </div>
              <div class="form-group">
                <label for="loginPassword">Password: </label>
                <input
                  type="password"
                  id="loginPassword"
                  name="loginPassword"
                  ngModel
                  class="form-control" required>
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
            </form>
          </div>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Register<span class="caret"></span></a>
          <div class="dropdown-menu">
            <form (ngSubmit)="registerForSite(registerForm)" #registerForm="ngForm">
              <div class="form-group">
                <label for="registerUsername">Username: </label>
                <input
                  type="text"
                  id="registerUsername"
                  name="registerUsername"
                  ngModel
                  class="form-control" required>
              </div>
              <div class="form-group">
                <label for="registerPassword">Password: </label>
                <input
                  type="text"
                  id="registerPassword"
                  name="registerPassword"
                  ngModel
                  class="form-control" required>
              </div>
              <div class="form-group">
                <label for="register2ndPassword">Confirm Password: </label>
                <input
                  type="text"
                  id="register2ndPassword"
                  name="register2ndPassword"
                  ngModel
                  class="form-control" required>
              </div>
              <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">Submit</button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
