<div class="panel center-block container">
  <div class="center-block text-center filterFields">
    <div class="inlineBlock">
      <div class="inlineBlock">
        <div class="inlineBlock">
          <p>Filter Departure Location</p>
          <input [(ngModel)]="flightFilterDepartureLocation" class="form-control">
        </div>
        <div class="inlineBlock">
          <p>Filter Arrival Location</p>
          <input [(ngModel)]="flightFilterArrivalLocation" class="form-control">
        </div>
      </div>

      <div class="center-block">
        <div class="btn btn-primary SearchButton" (click)="this.flightApplyFilter()">
          Search
        </div>
      </div>
    </div>

    <div class="center-block">
      <div class="dateSize inlineBlock">
        <p>Date Start</p>
        <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="flightFilterStartDate"></my-date-picker>
      </div>
      <div class="dateSize inlineBlock">
        <p>Date End</p>
        <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="flightFilterEndDate"></my-date-picker>
      </div>
    </div>
  </div>
</div>

<div class="container panel panel-primary">
  <h2 class="center-block text-center panel-heading">Flights</h2>
  <table class="table table-striped table-responsive">
    <thead>
    <tr>
      <th>Dept Loc</th>
      <th>Arrive Loc</th>
      <th>Dept Time</th>
      <th>Arrive Time</th>
      <th><div class="btn btn-primary createButton" (click)="this.toggleCreate()">Create Airport</div></th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of this.flightPaginatedList; let i = index;">
      <td>{{item.departAirport.name}}</td>
      <td>{{item.arrivalAirport.name}}</td>
      <td>{{item.departureTime}}</td>
      <td>{{item.arrivalTime}}</td>
      <td>
        <div class="btn btn-primary" (click)="this.toggleEdit(item)">Edit</div>
        <div class="btn btn-primary" (click)="this.deleleEntry(item)">Delete</div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="center-block text-center">
    <ul class="pagination">
      <li><a (click)="this.updateFlightPage(0)">1 ... </a></li>
      <li *ngFor="let item of this.pages; let i = index;">
        <a *ngIf="(i < (this.flightCurrentPage + 2) && i > (this.flightCurrentPage - 4))" (click)="this.updateFlightPage(item)">{{item}}</a>
      </li>
      <li><a (click)="this.updateFlightPage(this.flightsPages.length)"> ... {{this.flightsPages.length + 1}}</a></li>
    </ul>
  </div>
</div>

<div class="panel-group toggleEdit" *ngIf="this.showMenuCreateEdit === true">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Edit/Create Flight
    </div>
    <div class="panel-body">
      <label> Depart Time: </label>
      <input type="text" class="form-control formInput" [(ngModel)]="ModelFlightForCreateEdit.DepartureTime">
      <label> Arrival Time: </label>
      <input type="text" class="form-control formInput" [(ngModel)]="ModelFlightForCreateEdit.ArrivalTime">

      <div class="text-center" *ngIf="this.toggleChooseDepartureAirport === false && this.toggleChooseArrivalAirport === false">
        <div class="form-group container fitContainer">
          <div class="inlineBlock formSection">
            <label> Travel Time: </label>
            <input type="text" class="form-control formInput" [(ngModel)]="this.ModelFlightForCreateEdit.TravelTime">
            <label> Travel Distance: </label>
            <input type="text" class="form-control formInput" [(ngModel)]="this.ModelFlightForCreateEdit.TravelDistance">
            <label> First Class Seats: </label>
            <input type="text" class="form-control formInput" [(ngModel)]="this.ModelFlightForCreateEdit.FirstClassSeats">
            <label> First Class Seat Price: </label>
            <input type="text" class="form-control formInput" [(ngModel)]="this.ModelFlightForCreateEdit.FirstClassPrice">
            <label> Business Seats: </label>
            <input type="text" class="form-control formInput" [(ngModel)]="this.ModelFlightForCreateEdit.BusinessSeats">
            <label> Business Seat Price: </label>
            <input type="text" class="form-control formInput" [(ngModel)]="this.ModelFlightForCreateEdit.BusinssClassPrice">
            <div>
              <label> Departure Airport: </label>
              <label *ngIf="this.flightDepartureAirportName !== ''">{{this.flightDepartureAirportName}}</label>
              <div class="btn btn-primary" (click)="chooseDepartureAirport()"> Choose Location </div>
            </div>
            <div>
              <label> Arrival Airport: </label>
              <label *ngIf="this.flightArrivalAirportName !== ''">{{this.flightArrivalAirportName}}</label>
              <div class="btn btn-primary" (click)="chooseArrivalAirport()"> Choose Location </div>
            </div>
            <div class="btn btn-primary" (click)="this.submitCreateEditMenu()">Submit</div>
          </div>
        </div>
      </div>

      <div *ngIf="this.toggleChooseDepartureAirport === true || this.toggleChooseArrivalAirport === true">
        <div class="center-block text-center filterFields">

          <div class="inlineBlock">
            <div>
              <label>Filter Name</label>
              <input class="form-control formInput" type="text" [(ngModel)]="airportFilterName" >
            </div>
            <div>
              <label>Filter Country</label>
              <input class="form-control formInput" type="text" [(ngModel)]="airportFilterCountry" >
            </div>
          </div>

          <div class="inlineBlock">
            <div>
              <label>Filter City</label>
              <input class="form-control formInput" type="text" [(ngModel)]="airportFilterCity" >
              <div class="btn btn-primary">Submit</div>
            </div>
          </div>


          <div class="inlineBlock">
            <div>
              <label>Filter Domestic Code</label>
              <input class="form-control formInput" type="text" [(ngModel)]="airportFilterDomesticCode" >
            </div>
            <div>
              <label>Filter International Code</label>
              <input class="form-control formInput" type="text" [(ngModel)]="airportFilterInternationalCode" >
            </div>
          </div>
        </div>


        <div class="container panel panel-primary">
          <h2 class="center-block text-center panel-heading">Airports</h2>
          <table class="table table-striped table-responsive">
            <thead>
            <tr>
              <th>Name</th>
              <th>Country</th>
              <th>City</th>
              <th>Dom Code</th>
              <th>Int Code</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let item of this.airportPaginatedList; let i = index;">
                <td> {{item.name}} </td>
                <td>{{item.country}}</td>
                <td>{{item.city}}</td>
                <td>{{item.domesticIcao}}</td>
                <td>{{item.internationalIcao}}</td>
                <td>
                  <div class="btn btn-primary" (click)="this.selectFlight(item.id, item.name)">Select</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="center-block text-center">
            <ul class="pagination">
              <li><a (click)="this.updateAirportPage(0)">1 ... </a></li>
              <li *ngFor="let item of this.pages; let i = index;">
                <a *ngIf="(i < (this.airportCurrentPage + 2) && i > (this.airportCurrentPage - 4))" (click)="this.updateAirportPage(item)">{{item}}</a>
              </li>
              <li><a (click)="this.updateAirportPage(this.airportPages.length)"> ... {{this.airportPages.length + 1}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
