.inlineBlock{
  display: inline-block;
  vertical-align: top;
}
.dateSize{
  width: 200px;
}
.SearchButton{
  margin-top: 10px;
  height: 50px;
  width: 150px;
  padding: 10px;
  font-size: 1.5em;
  border-radius: 20px;
}
p {
  margin-bottom: 0;
  font-size: large;
}
input{
  margin-bottom: 5px;
}
.createButton{
  padding-left: 15px;
  padding-right: 15px;
}
.toggleEdit{
  width: 95%;
  position: fixed;
  top: 50px;
  left: 2.5%;
}
.fitContainer{
  width:100%;
}
.formSection{
  margin: 20px;
}
