.inlineBlock{
  display: inline-block;
}

.inlineBlock input{
  text-align: center;
}

.toggleEdit{
  width: 75%;
  position: fixed;
  top: 50px;
  left: 12.5%;
}

.formInput{
  max-width: 200px;
}

.formSection{
  margin: 20px;
}
.fitContainer{
  width:100%;
}
.createButton{
  padding-left: 15px;
  padding-right: 15px;
}
.filterFields{
  padding: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

thead tr th {
  font-size: 1.25em;
}
