<div class="panel center-block container">
  <div class="center-block text-center filterFields">
    <div class="inlineBlock">
      <p>Filter Airport Name</p>
      <input #NameFilter (change)="filterByName(NameFilter.value)" placeholder="Airport Name">
    </div>
    <div class="inlineBlock">
      <p>Filter Country</p>
      <input #CountryFilter (change)="filterByCountry(CountryFilter.value)" placeholder="Country">
    </div>
    <div class="inlineBlock">
      <p>Filter Airport City</p>
      <input #Cityfilter (change)="filterByCity(Cityfilter.value)" placeholder="City">
    </div>
    <div class="inlineBlock">
      <p>Filter Domestic ICAO</p>
      <input #Domesticfilter (change)="filterByDomestic(Domesticfilter.value)" placeholder="ICAO">
    </div>
    <div class="inlineBlock">
      <p>Filter International ICAO</p>
      <input #Internationalfilter (change)="filterByInternatiopnal(Internationalfilter.value)" placeholder="ICAO">
    </div>
  </div>

  <div class="container panel panel-primary">
    <h2 class="center-block text-center panel-heading">Airports</h2>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Airport Name</th>
          <th>Country</th>
          <th>City</th>
          <th>Domestic Code</th>
          <th>International Code</th>
          <th><div class="btn btn-primary createButton" (click)="this.toggleCreate()">Create Airport</div></th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let item of this.paginatedList; let i = index;">
          <td> {{item.name}} </td>
          <td>{{item.country}}</td>
          <td>{{item.city}}</td>
          <td>{{item.domesticIcao}}</td>
          <td>{{item.internationalIcao}}</td>
          <td>
            <div class="btn btn-primary" (click)="this.toggleEdit(item.id)">Edit</div>
            <div class="btn btn-primary" (click)="this.deleleEntry(item.id)">Delete</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="center-block text-center">
  <ul class="pagination">
    <li><a (click)="this.updatePage(this.pages[0])">1 ... </a></li>
    <li *ngFor="let item of this.pages; let i = index;">
      <a *ngIf="(i < (this.currentPage + 2) && i > (this.currentPage - 4))" (click)="this.updatePage(item)">{{item}}</a>
    </li>
    <li><a (click)="this.updatePage(this.pages.length)"> ... {{this.pages.length + 1}}</a></li>
  </ul>
</div>

<div class="panel-group toggleEdit" *ngIf="this.showEdit === true">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Edit/Create Airport
    </div>
    <div class="panel-body createEditBody">
      <form (ngSubmit)="this.subMitEdit(createEditForm)" #createEditForm="ngForm" class="text-center">
        <div class="form-group container fitContainer">
          <div class="inlineBlock formSection">
            <label for="airPortName">Airport Name: </label>
            <input
              type="text"
              id="airPortName"
              name="airPortName"
              ngModel
              class="form-control formInput"
              [(ngModel)]="this.currentEditAirport.name" required>

            <label for="country">country: </label>
            <input
              type="text"
              id="country"
              name="country"
              ngModel
              class="form-control formInput"
              [(ngModel)]="this.currentEditAirport.country" required>

            <label for="City">City: </label>
            <input
              type="text"
              id="City"
              name="City"
              ngModel
              class="form-control formInput"
              [(ngModel)]="this.currentEditAirport.city" required>

            <label for="DomesticIcao">Domestic Icao: </label>
            <input
              type="text"
              id="DomesticIcao"
              name="DomesticIcao"
              ngModel
              class="form-control formInput"
              [(ngModel)]="this.currentEditAirport.domesticIcao" required>
          </div>
          <div class="inlineBlock formSection">
            <label for="InternationalIcao">International Icao: </label>
            <input
              type="text"
              id="InternationalIcao"
              name="InternationalIcao"
              ngModel
              class="form-control formInput"
              [(ngModel)]="this.currentEditAirport.internationalIcao" required>

            <label for="timezone"> Timezone: </label>
            <input
              type="text"
              id="timezone"
              name="timezone"
              ngModel
              class="form-control formInput"
              [(ngModel)]="this.currentEditAirport.timezone" required>

            <label for="lattitude">Lattitude: </label>
            <input
              type="text"
              id="lattitude"
              name="lattitude"
              ngModel
              class="form-control formInput"
              [(ngModel)]="this.currentEditAirport.lattitude" required>

            <label for="longitude">Longitude: </label>
            <input
              type="text"
              id="longitude"
              name="longitude"
              ngModel
              class="form-control formInput"
              [(ngModel)]="this.currentEditAirport.longitude" required>

            <label for="Altitude">Altitude: </label>
            <input
              type="text"
              id="Altitude"
              name="Altitude"
              ngModel
              class="form-control formInput"
              [(ngModel)]="this.currentEditAirport.altitude" required>
          </div>

        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!createEditForm.valid">Submit</button>
      </form>

    </div>
  </div>
</div>
