<div class="panel center-block container">
<div class="center-block text-center filterFields">
  <div class="inlineBlock">
    <p>Filter Prices</p>
    <input [(ngModel)]="priceSearch" (change)="FilterPrice()" placeholder="Ticket Price">
  </div>
  <div class="inlineBlock">
    <p>Filter Departure Airport </p>
    <input [(ngModel)]="airportArrivalSearch" (change)="GetPurchasesByArrivalAirport()" placeholder="Arrival Airport">
  </div>
  <div class="inlineBlock">
    <p>Filter Arrival Airport</p>
    <input [(ngModel)]="airportDepartureSearch" (change)="GetPurchasesByDepartureAirport()" placeholder="Destination Airport">
  </div>
  <div class="inlineBlock">
    <p>Filter Something Here</p>
    <input  placeholder="Something">
  </div>
  <div class="inlineBlock">
  <p>Filter Something Here</p>
  <input  placeholder="Here">
</div>
</div>


<div class="container panel panel-primary">
  <h2 class="center-block text-center panel-heading">Flights</h2>
  <table class="table table-striped table-responsive" align="center">
    <thead>
    <tr>
      <th>Departure Airport</th>
      <th>Arrival Airport</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th>Number of Seats Available (FC/BUI)</th>
      <th>Ticket Price (FC/BUI)</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let item of this.currentList; let i = index;">
      <td>{{item.departAirport.name}} </td>
      <td>{{item.arrivalAirport.name}}</td>
      <td>{{item.departureTime | date: 'h:mm a Z MM/dd/yyyy'}}</td>
      <td>{{item.arrivalTime  | date: 'h:mm a Z MM/dd/yyyy'}}</td>
      <td>{{item.seats}}</td>
      <td></td>
      <td>
        <div class="btn btn-primary" (click)="this.BookFlight(item.id)">Book</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

  <div class="center-block text-center">
    <ul class="pagination">
      <li><a (click)="this.updatePage(this.pages[0])">1 ... </a></li>
      <li *ngFor="let item of this.pages; let i = index;">
        <a *ngIf="(i < (this.currentPage + 2) && i > (this.currentPage - 4))" (click)="this.updatePage(item)">{{item}}</a>
      </li>
      <li><a (click)="this.updatePage(this.pages.length)"> ... {{this.pages.length + 1}}</a></li>
    </ul>
  </div>




  <div class="panel-group toggleEdit" *ngIf="this.showBook === true">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Book Flight
      </div>
      <div class="panel-body">
        <label> Depart Time: </label>
        <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="this.createEditCreateDepartTime" ></my-date-picker>
        <label> Arrival Time: </label>
        <my-date-picker [options]="myDatePickerOptions" [(ngModel)]="this.createEditCreateArriveTime" ></my-date-picker>
        <div class="text-center" *ngIf="this.toggleChooseDepartureAirport === false && this.toggleChooseArrivalAirport === false">
          <div class="form-group container fitContainer">
            <div class="inlineBlock formSection">
              <label> Travel Time: </label>
              <input
                type="text"
                class="form-control formInput"
                [(ngModel)]="this.createEditFlight.TravelTime" required>
              <label> Travel Distance: </label>
              <input
                type="text"
                class="form-control formInput"
                [(ngModel)]="this.createEditFlight.TravelDistance" required>
              <label> First Class Seats: </label>
              <input
                type="text"
                class="form-control formInput"
                [(ngModel)]="this.createEditFlight.FirstClassSeats" required>
              <label> Business Seats: </label>
              <input
                type="text"
                class="form-control formInput"
                [(ngModel)]="this.createEditFlight.BusinessSeats" required>
              <div>
                <label> Departure Airport: </label>
                <label *ngIf="this.startLocation !== ''">{{this.startLocation}}</label>
                <div class="btn btn-primary" *ngIf="this.toggleChooseDepartureAirport === false  && this.startLocation === ''" (click)="chooseDepartureAirport()"> Choose Location </div>
              </div>
              <div>
                <label> Arrival Airport: </label>
                <label *ngIf="this.endlocation !== ''">{{this.endlocation}}</label>
                <div class="btn btn-primary" *ngIf="this.toggleChooseArrivalAirport === false && this.endlocation === ''" (click)="chooseArrivalAirport()"> Choose Location </div>
              </div>
              <div class="btn btn-primary" (click)="this.submitCreateEditMenu()">Submit</div>
            </div>
          </div>
        </div>

        <div *ngIf="this.toggleChooseDepartureAirport === true || this.toggleChooseArrivalAirport === true">
          <div class="container panel panel-primary">
            <h2 class="center-block text-center panel-heading">Airports</h2>
            <table class="table table-striped table-responsive">
              <thead>
              <tr>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Dom Code</th>
                <th>Int Code</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr  *ngFor="let item of this.paginatedList; let i = index;">
                <td> {{item.name}} </td>
                <td>{{item.country}}</td>
                <td>{{item.city}}</td>
                <td>{{item.domesticIcao}}</td>
                <td>{{item.internationalIcao}}</td>
                <td>
                  <div class="btn btn-primary" (click)="this.selectFlight(item.id, item.name)">Select</div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="center-block text-center">
          <ul class="pagination">
            <li><a (click)="this.updatePage(this.pages[0])">1 ... </a></li>
            <li *ngFor="let item of this.pages; let i = index;">
              <a *ngIf="(i < (this.currentPage + 2) && i > (this.currentPage - 4))" (click)="this.updatePage(item)">{{item}}</a>
            </li>
            <li><a (click)="this.updatePage(this.pages.length)"> ... {{this.pages.length + 1}}</a></li>
          </ul>
        </div>



      </div>
    </div>
  </div>




</div>
